<div class="body">
    <div class="ionCard">



        <img class="canchaImg" src="{{cancha.imageUrl}}" alt="ion">

        <p>Nombre: {{cancha.name}}</p>
        <p>Localización: {{cancha.localization}}</p>

        <p>Dirección: {{cancha.address}}</p>

        <p>Capacidad: {{cancha.capacity}}</p>

        <p>Material: {{cancha.material}}</p>

        <p>Deporte: {{cancha.sport}}</p>





        <!-- <ion-button (click)="dismiss()" color="dark">Cerrar</ion-button> -->
        <input class="btnDismiss" type="submit" (click)="dismiss()" name="loginBtn" value="Cerrar">

    </div>
</div>