<ion-content class="body">

    <ion-toolbar color="inherit">
        <ion-button (click)="dismiss()" slot="start" color="inherit">
            <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
        </ion-button>
    </ion-toolbar>

    <section>
        <form action="get" class="form">
            <input class="itemCredential" type="text" name="email" #email placeholder="Nombre">
            <input class="itemCredential" type="password" name="password" #password placeholder="Cedula">
            <ion-item class="date" color="inherit">
                <ion-label>Fecha</ion-label>
                <ion-datetime displayFormat="DD-MMM-YYYY"></ion-datetime>
            </ion-item>
            <ion-item class="time" color="inherit">
                <ion-label>Hora</ion-label>
                <ion-datetime displayFormat="hh-mm-A"></ion-datetime>
            </ion-item>
            <input class="btnRegister" type="submit" name="loginBtn" value="Reservar">

        </form>
    </section>
</ion-content>