<ion-header>
  <ion-toolbar>
    <ion-title>canchas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of canchaList" color="primary">
    <ion-card-header>
      <img src="{{item.Imageurl}}">
    </ion-card-header>
    <ion-card-content>
      
      <ion-card-title>{{item.Name}}</ion-card-title>
      <ion-card-title>{{item.Address}} of {{item.Localization}}</ion-card-title>
      <ion-card-subtitle>Sport: {{item.Sport}}</ion-card-subtitle>

      <ion-button shape="round" color="tertiary" size="small" (click)="EditRecord(item)">
        <ion-icon size="small" slot="icon-only" name="create"></ion-icon>

      </ion-button>
      <ion-button shape="round" color="danger" size="small" (click)="RemoveRecord(item.id)">
        <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>

      </ion-button>
    </ion-card-content>
    <ng-template #elseBlock>
      <ion-card-header>
        <ion-card-title>
          <ion-grid>
            <ion-row>
              <ion-col>
                Edit
              </ion-col>
              <ion-col>
                <ion-button fill="solid" color="medium" size="small" (click)="item.isEdit = false">
                  Cancel
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button fill="solid" color="success" size="small" (click)="UpdateRecord(item)">
                  Update
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label><strong>Name</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.EditName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>Age</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.EditAge"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>Address</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.EditAddress"></ion-input>
        </ion-item>
      </ion-card-content>
    </ng-template>
  </ion-card>
</ion-content>
