<ion-header>
  <ion-toolbar>
    <ion-title>canchas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of canchaList">

    <img src="{{item.Imageurl}}" alt="ion">
    <ion-card-header>
      <ion-card-title>{{item.Name}}</ion-card-title>
    </ion-card-header>  
    <ion-footer>
      <ion-row>
        <ion-col center text-center>
          <button>
            <div>Ubicación: {{item.Localization}}</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <button>
            <div>Dirrección: {{item.Address}}</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <button>
            <div> Desporte: {{item.Sport}}</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-footer>
    <ion-button shape="round" color="tertiary" size="small" (click)="EditRecord(item)">
      <ion-icon size="small" slot="icon-only" name="create"></ion-icon>

    </ion-button>
    <ion-button shape="round" color="danger" size="small" (click)="RemoveRecord(item.id)">
      <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
    </ion-button>
  </ion-card>
</ion-content>
